In [1]:
import numpy as np
import pandas as pd

In [2]:
#dataset hasil survey
data1 = pd.read_csv('b_depressed.csv')

In [3]:
data1

,Survey_id,Ville_id,sex,Age,Married,Number_children,education_level,total_members,gained_asset,durable_asset,...,incoming_salary,incoming_own_farm,incoming_business,incoming_no_business,incoming_agricultural,farm_expenses,labor_primary,lasting_investment,no_lasting_investmen,depressed
0,926,91,1,28,1,4,10,5,28912201,22861940,...,0,0,0,0,30028818,31363432,0,28411718,28292707.0,0
1,747,57,1,23,1,3,8,5,28912201,22861940,...,0,0,0,0,30028818,31363432,0,28411718,28292707.0,1
2,1190,115,1,22,1,3,9,5,28912201,22861940,...,0,0,0,0,30028818,31363432,0,28411718,28292707.0,0
3,1065,97,1,27,1,2,10,4,52667108,19698904,...,0,1,0,1,22288055,18751329,0,7781123,69219765.0,0
4,806,42,0,59,0,4,10,6,82606287,17352654,...,1,0,0,0,53384566,20731006,1,20100562,43419447.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1424,255,22,1,25,1,1,7,5,28912201,22861940,...,0,0,0,0,30028818,31363432,0,28411718,28292707.0,0
1425,547,69,1,28,1,4,10,6,15711078,24023054,...,0,1,0,0,23022095,1021536,0,1823477,47384361.0,0
1426,893,184,1,66,0,0,1,1,42440731,22861940,...,0,1,0,0,12545373,10454478,0,46444572,10454478.0,1
1427,363,75,1,51,1,1,12,5,28912201,22861940,...,0,0,0,0,30028818,31363432,0,28411718,28292707.0,0
1428,231,12,1,33,0,4,8,5,81678391,22861940,...,0,1,0,1,20019212,16682677,0,69642126,13012488.0,0

In [ ]:
sex, age, married, education level, depressed, incoming_business

In [4]:
data1=data1.drop(['Survey_id', 'Ville_id','Number_children','total_members','gained_asset','durable_asset','save_asset',
       'living_expenses', 'other_expenses', 'incoming_salary',
       'incoming_own_farm', 'incoming_no_business',
       'incoming_agricultural', 'farm_expenses', 'labor_primary',
       'lasting_investment', 'no_lasting_investmen'], axis='columns')

In [5]:
data1.head()

   sex  Age  Married  education_level  incoming_business  depressed
0    1   28        1               10                  0          0
1    1   23        1                8                  0          1
2    1   22        1                9                  0          0
3    1   27        1               10                  0          0
4    0   59        0               10                  0          0

Dataset diatas
Dataset terlibat dalam analisis depresi. Data tersebut terdiri dari studi tentang kondisi kehidupan masyarakat yang tinggal di wilayah pedesaan. Karena semua kolom tidak dijelaskan dalam tantangan ini sehingga Kami tidak dapat memahaminya. Kami melanjutkan untuk menghapusnya atau mengabaikannya. Fitur atau kolom terakhir adalah sebagai berikut:

-Survey id Ville id
-jenis kelamin
-Usia
-Menikah
-Jumlah anak tingkat pendidikan
-jumlah anggota (dalam keluarga) diperoleh aset
-tahan lama aset simpan aset biaya
-hidup pengeluaran lain gaji masuk masuk
-pertanian sendiri masuk bisnis masuk tidak ada usaha masuk pertanian biaya pertanian tenaga kerja investasi utama abadi tidak --ada investasi abadi tertekan : [ Nol: Tidak tertekan] atau [Satu: tertekan] (Binary untuk kelas target)





tujuan utamanya adalah untuk menunjukkan analisis statistik dan beberapa teknik data mining. Dataset memiliki 23 kolom o dimensi y un total de 1432 objek atau registros.

In [6]:
data1.columns

Index(['sex', 'Age', 'Married', 'education_level', 'incoming_business',
       'depressed'],
      dtype='object')

In [7]:
data6 = pd.read_excel('Effects of Depression  Anxiety on Academic Performance among the students (respuestas).xlsx')
data6.head()

,Gender:,Age:,Educational Level,Little interest or pleasure in doing things,"Feeling down, depressed, or hopeless","Trouble falling or staying asleep, or sleeping too much",Feeling tired or having little energy,Poor appetite or overeating,Feeling bad about yourself or that you are a failure or not have let yourself or your family down,"Trouble concentrating on things, such as reading the newspaper or watching television",Moving or speaking so slowly that other people could have noticed Or being so restless that you have been moving around a lot more than usual,Thoughts that you would be better off dead or of hurting yourself in some way,Do you have part-time or full-time job?,Which of the following best describes your term-time accommodation?,How many hours do you spend studying each day?,"How many of the electronic gadgets (e.g. mobile phone, computer, laptop, PSP, PS4, Wii, etc.) do you have in your home or your student accommodation/mess/hall?",How many hours do you spend on social media per day?,Your Last Semester GPA:
0,Male,19 to 24 years,College - Bachelor's,3,2,4,4,3,3,4,3,2,Part time,Home (with parents),2 - 4 hours,4 - 6,More than 4 Hours,2.30
1,Male,19 to 24 years,College - Bachelor's,2,1,2,1,1,1,1,1,1,Part time,University hall of residence,1 - 2 hours,1 - 3,1 - 2 Hours,2.70
2,Female,18 years or less,High School,2,2,2,2,1,1,2,2,1,No,Home (with parents),1 - 2 hours,1 - 3,More than 4 Hours,2.97
3,Female,18 years or less,High School,3,1,2,3,3,1,1,1,2,No,Home (with parents),1 - 2 hours,More than 6,2 - 4 Hours,2.74
4,Male,18 years or less,High School,1,2,2,3,1,1,3,1,1,Part time,Home (with parents),1 - 2 hours,4 - 6,More than 4 Hours,3.37

In [8]:
data6.columns

Index(['Gender:', 'Age:', 'Educational Level',
       'Little interest or pleasure in doing things ',
       'Feeling down, depressed, or hopeless',
       'Trouble falling or staying asleep, or sleeping too much',
       'Feeling tired or having little energy', 'Poor appetite or overeating',
       'Feeling bad about yourself or that you are a failure or not have let yourself or your family down',
       'Trouble concentrating on things, such as reading the newspaper or watching television',
       'Moving or speaking so slowly that other people could have noticed Or being so restless that you have been moving around a lot more than usual',
       'Thoughts that you would be better off dead or of hurting yourself in some way',
       'Do you have part-time or full-time job? ',
       'Which of the following best describes your term-time accommodation?',
       'How many hours do you spend studying each day?',
       'How many of the electronic gadgets (e.g. mobile phone, computer, laptop, PSP, PS4, Wii, etc.) do you have in your home or your student accommodation/mess/hall?',
       'How many hours do you spend on social media per day?',
       'Your Last Semester GPA: '],
      dtype='object')

In [9]:
data6=data6.drop(['Gender:', 'Age:', 'Educational Level',
       'Little interest or pleasure in doing things ',
       'Feeling down, depressed, or hopeless',
       'Trouble falling or staying asleep, or sleeping too much',
       'Feeling tired or having little energy', 'Poor appetite or overeating',
       'Feeling bad about yourself or that you are a failure or not have let yourself or your family down',
       'Trouble concentrating on things, such as reading the newspaper or watching television',
       'Moving or speaking so slowly that other people could have noticed Or being so restless that you have been moving around a lot more than usual',
       'Thoughts that you would be better off dead or of hurting yourself in some way','Your Last Semester GPA: '], axis='columns')

In [10]:
data6.head()

,Do you have part-time or full-time job?,Which of the following best describes your term-time accommodation?,How many hours do you spend studying each day?,"How many of the electronic gadgets (e.g. mobile phone, computer, laptop, PSP, PS4, Wii, etc.) do you have in your home or your student accommodation/mess/hall?",How many hours do you spend on social media per day?
0,Part time,Home (with parents),2 - 4 hours,4 - 6,More than 4 Hours
1,Part time,University hall of residence,1 - 2 hours,1 - 3,1 - 2 Hours
2,No,Home (with parents),1 - 2 hours,1 - 3,More than 4 Hours
3,No,Home (with parents),1 - 2 hours,More than 6,2 - 4 Hours
4,Part time,Home (with parents),1 - 2 hours,4 - 6,More than 4 Hours

In [12]:
#kesehatan mental di tempat kerja
data9 = pd.read_csv('survey.csv')
data9

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2015-09-12 11:17:21,26,male,United Kingdom,NaN,No,No,Yes,NaN,26-100,...,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No,NaN
1255,2015-09-26 01:07:35,32,Male,United States,IL,No,Yes,Yes,Often,26-100,...,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No,NaN
1256,2015-11-07 12:36:58,34,male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,...,Somewhat difficult,Yes,Yes,No,No,No,No,No,No,NaN
1257,2015-11-30 21:25:06,46,f,United States,NC,No,No,No,NaN,100-500,...,Don't know,Yes,No,No,No,No,No,No,No,NaN
1258,2016-02-01 23:04:31,25,Male,United States,IL,No,Yes,Yes,Sometimes,26-100,...,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No,NaN

In [13]:
data9.columns

Index(['Timestamp', 'Age', 'Gender', 'Country', 'state', 'self_employed',
       'family_history', 'treatment', 'work_interfere', 'no_employees',
       'remote_work', 'tech_company', 'benefits', 'care_options',
       'wellness_program', 'seek_help', 'anonymity', 'leave',
       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
       'supervisor', 'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence', 'comments'],
      dtype='object')

family history, treatment,  work_interfere

In [14]:
data9=data9.drop(['Timestamp', 'Age', 'Gender', 'Country', 'state', 'self_employed',
       'no_employees',
       'remote_work', 'tech_company', 'benefits', 'care_options',
       'wellness_program', 'seek_help', 'anonymity', 'leave',
       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
       'supervisor', 'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence', 'comments'], axis='columns')

In [15]:
data9.head()

  family_history treatment work_interfere
0             No       Yes          Often
1             No        No         Rarely
2             No        No         Rarely
3            Yes       Yes          Often
4             No        No          Never

In [16]:
result = pd.concat([data1, data6, data9], axis=1, join="inner")

In [17]:
result.head()

,sex,Age,Married,education_level,incoming_business,depressed,Do you have part-time or full-time job?,Which of the following best describes your term-time accommodation?,How many hours do you spend studying each day?,"How many of the electronic gadgets (e.g. mobile phone, computer, laptop, PSP, PS4, Wii, etc.) do you have in your home or your student accommodation/mess/hall?",How many hours do you spend on social media per day?,family_history,treatment,work_interfere
0,1,28,1,10,0,0,Part time,Home (with parents),2 - 4 hours,4 - 6,More than 4 Hours,No,Yes,Often
1,1,23,1,8,0,1,Part time,University hall of residence,1 - 2 hours,1 - 3,1 - 2 Hours,No,No,Rarely
2,1,22,1,9,0,0,No,Home (with parents),1 - 2 hours,1 - 3,More than 4 Hours,No,No,Rarely
3,1,27,1,10,0,0,No,Home (with parents),1 - 2 hours,More than 6,2 - 4 Hours,Yes,Yes,Often
4,0,59,0,10,0,0,Part time,Home (with parents),1 - 2 hours,4 - 6,More than 4 Hours,No,No,Never

In [18]:
result

,sex,Age,Married,education_level,incoming_business,depressed,Do you have part-time or full-time job?,Which of the following best describes your term-time accommodation?,How many hours do you spend studying each day?,"How many of the electronic gadgets (e.g. mobile phone, computer, laptop, PSP, PS4, Wii, etc.) do you have in your home or your student accommodation/mess/hall?",How many hours do you spend on social media per day?,family_history,treatment,work_interfere
0,1,28,1,10,0,0,Part time,Home (with parents),2 - 4 hours,4 - 6,More than 4 Hours,No,Yes,Often
1,1,23,1,8,0,1,Part time,University hall of residence,1 - 2 hours,1 - 3,1 - 2 Hours,No,No,Rarely
2,1,22,1,9,0,0,No,Home (with parents),1 - 2 hours,1 - 3,More than 4 Hours,No,No,Rarely
3,1,27,1,10,0,0,No,Home (with parents),1 - 2 hours,More than 6,2 - 4 Hours,Yes,Yes,Often
4,0,59,0,10,0,0,Part time,Home (with parents),1 - 2 hours,4 - 6,More than 4 Hours,No,No,Never
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,1,39,1,9,0,0,No,Home (with parents),2 - 4 hours,1 - 3,2 - 4 Hours,Yes,Yes,Never
348,1,22,1,10,0,0,Full Time,Home (with parents),More than 4 hours,1 - 3,More than 4 Hours,No,No,Sometimes
349,1,20,1,9,0,0,Full Time,Private rented accommodation,2 - 4 hours,4 - 6,2 - 4 Hours,Yes,Yes,Sometimes
350,1,28,1,5,0,1,Full Time,Home (with parents),2 - 4 hours,1 - 3,2 - 4 Hours,No,No,Often
351,1,26,1,8,0,0,No,Home (with parents),1 - 2 hours,More than 6,More than 4 Hours,No,Yes,Sometimes

In [19]:
data_list=[data1,data6,data9]

In [20]:
data_result=pd.concat(data_list, axis=1)

In [21]:
data_result

,sex,Age,Married,education_level,incoming_business,depressed,Do you have part-time or full-time job?,Which of the following best describes your term-time accommodation?,How many hours do you spend studying each day?,"How many of the electronic gadgets (e.g. mobile phone, computer, laptop, PSP, PS4, Wii, etc.) do you have in your home or your student accommodation/mess/hall?",How many hours do you spend on social media per day?,family_history,treatment,work_interfere
0,1,28,1,10,0,0,Part time,Home (with parents),2 - 4 hours,4 - 6,More than 4 Hours,No,Yes,Often
1,1,23,1,8,0,1,Part time,University hall of residence,1 - 2 hours,1 - 3,1 - 2 Hours,No,No,Rarely
2,1,22,1,9,0,0,No,Home (with parents),1 - 2 hours,1 - 3,More than 4 Hours,No,No,Rarely
3,1,27,1,10,0,0,No,Home (with parents),1 - 2 hours,More than 6,2 - 4 Hours,Yes,Yes,Often
4,0,59,0,10,0,0,Part time,Home (with parents),1 - 2 hours,4 - 6,More than 4 Hours,No,No,Never
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1424,1,25,1,7,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1425,1,28,1,10,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1426,1,66,0,1,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1427,1,51,1,12,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1428,1,33,0,8,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN